body {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    font-family: "Sofadi One", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    }

button{
    background-color: black;
    color: rgb(250, 250, 250);
    font-family: "Reddit Sans Condensed", sans-serif;
}

.passo {
    display:none;
}

.passo.ativo {
    display:block;
}

main {
text-align: center;
 max-width: 90%;
}

img {
    max-width: 80%;
}
